@font-face {
    font-family: 'Zalando Sans Expanded';
    src: url('ZalandoSansExpanded-Italic.eot');
    src: local('Zalando Sans Expanded Italic'), local('ZalandoSansExpanded-Italic'),
        url('ZalandoSansExpanded-Italic.eot?#iefix') format('embedded-opentype'),
        url('ZalandoSansExpanded-Italic.woff2') format('woff2'),
        url('ZalandoSansExpanded-Italic.woff') format('woff'),
        url('ZalandoSansExpanded-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Zalando Sans Expanded';
    src: url('ZalandoSansExpanded-Regular.eot');
    src: local('Zalando Sans Expanded Regular'), local('ZalandoSansExpanded-Regular'),
        url('ZalandoSansExpanded-Regular.eot?#iefix') format('embedded-opentype'),
        url('ZalandoSansExpanded-Regular.woff2') format('woff2'),
        url('ZalandoSansExpanded-Regular.woff') format('woff'),
        url('ZalandoSansExpanded-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

